In [3]:
nums=[24,35,46,57,68]

In [4]:
nums

[24, 35, 46, 57, 68]

In [5]:
nums[0]

24

In [6]:
nums[0:3]

[24, 35, 46]

In [7]:
nums[1:4]

[35, 46, 57]

In [10]:
nums[-4:-2]

[35, 46]

In [11]:
names=['Alucard','Lancelot','Lesley']

In [12]:
ml=[nums,names]

In [13]:
ml

[[24, 35, 46, 57, 68], ['Alucard', 'Lancelot', 'Lesley']]

In [14]:
nums

[24, 35, 46, 57, 68]

In [16]:
nums.insert(2,79)

In [17]:
nums

[24, 35, 79, 46, 57, 68]

In [18]:
nums.pop(3)

46

In [19]:
nums

[24, 35, 79, 57, 68]

In [20]:
#to remove element directly

In [21]:
nums.remove(68)

In [22]:
nums

[24, 35, 79, 57]

In [23]:
nums.pop()

57

In [25]:
# .pop()----->removes the last element

In [26]:
del nums[2:]

In [27]:
nums

[24, 35]

In [28]:
# del----->deletes values

In [30]:
nums.extend([22,33,44,55])

In [31]:
nums

[24, 35, 22, 33, 44, 55]

In [33]:
min(nums)

22

In [34]:
max(nums)

55

In [35]:
sum(nums)

213

In [36]:
nums.sort()

In [37]:
nums

[22, 24, 33, 35, 44, 55]