In [2]:
# Data Frame is a 2 Diamentional Data in rows & columns
# Syntax - 

 pandas.DataFrame(data,index,column,dtype,copy)

# data - ndarray,lists,maps,dictionary,Dataframes,Constants      *(Tuples cannot be a DataFrame because it is immutable)
# index - raw label
# column - column label
# dtype - data types of table
# copy - True or False, Default type

In [2]:
# Print an Empty DataFrame
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
# Print a DataFrame
x = [9,8,7,6]
df = pd.DataFrame(x)
print(df)

   0
0  9
1  8
2  7
3  6

In [4]:
# Print a List within a List
x = [[9,8,7,6],[3,4,5,6],[1,2,3,4]]
df = pd.DataFrame(x)
print(df)

   0  1  2  3
0  9  8  7  6
1  3  4  5  6
2  1  2  3  4

In [5]:
x = [['C',80],['A',81],['Ch',80],['M',82]]
df = pd.DataFrame(x)
print(df)

    0   1
0   C  80
1   A  81
2  Ch  80
3   M  82

In [6]:
# Creating DataFrame using Dictionary (keys)
x = {'Name':['Chandan','Ashish','Charles','Mayur'],'Score':[80,81,80,82]}
df = pd.DataFrame(x)
print(df)

      Name  Score
0  Chandan     80
1   Ashish     81
2  Charles     80
3    Mayur     82

In [7]:
# For changing the index 
df = pd.DataFrame(x,index=['Rank1','Rank2','Rank3','Rank4'])
print(df)

          Name  Score
Rank1  Chandan     80
Rank2   Ashish     81
Rank3  Charles     80
Rank4    Mayur     82

In [8]:
# Here value of 'b' is printing twice
x = {'a':[1,6],'b':[9],'c':[2,11]}
df = pd.DataFrame(x,index=['Row1','Row2'])
print(df)

      a  b   c
Row1  1  9   2
Row2  6  9  11

In [9]:
# Correct way to get the output
x = [{'a':1,'c':2},{'a':6,'b':9,'c':11}]
df = pd.DataFrame(x,index=['Row1','Row2'])
print(df)

      a    b   c
Row1  1  NaN   2
Row2  6  9.0  11

In [10]:
# Adding column name
x = [{'a':1,'c':2},{'a':6,'b':9,'c':11}]
df = pd.DataFrame(x,index=['Row1','Row2'],columns=['a','b','c'])
print(df)

      a    b   c
Row1  1  NaN   2
Row2  6  9.0  11

In [11]:
# If we change column names this is the result
x = [{'a':1,'c':2},{'a':6,'b':9,'c':11}]
df = pd.DataFrame(x,index=['Row1','Row2'],columns=['x','y','z'])
print(df)

       x   y   z
Row1 NaN NaN NaN
Row2 NaN NaN NaN

In [12]:
# 
x=[{1,2},{6,9,11}]
df = pd.DataFrame(x,index=['Row1','Row2'],columns=['x','y','z'])
print(df)

      x   y    z
Row1  1   2  NaN
Row2  9  11  6.0

In [13]:
# Define a list instead of a Dictionary
import numpy as np
x=[[1,np.NaN,2],[6,9,11]]
df = pd.DataFrame(x,index=['Row1','Row2'],columns=['a','b','c'])
print(df)

      a    b   c
Row1  1  NaN   2
Row2  6  9.0  11

In [14]:
x = [9,10,11,np.NaN]
df = pd.DataFrame(x,index=['a','b','c','d'],columns=['One'])
print(df)

    One
a   9.0
b  10.0
c  11.0
d   NaN

In [15]:
# Using series to create
d={'One':pd.Series([9,10,11],index=['a','b','c']),'Two':pd.Series([2,4,6,8],index=['a','b','c','d'])}
df1 = pd.DataFrame(d)
print(df1)

    One  Two
a   9.0    2
b  10.0    4
c  11.0    6
d   NaN    8

In [16]:
# Adding a 3rd column in the DataFrame using Series
df1['Three']=pd.Series([3,5,7,9],index=['a','b','c','d'])
print(df1)

    One  Two  Three
a   9.0    2      3
b  10.0    4      5
c  11.0    6      7
d   NaN    8      9

In [17]:
# Adding a 4th column by adding the values of previous columns
df1['Four']=df1['One']+df1['Three']
print(df1)

    One  Two  Three  Four
a   9.0    2      3  12.0
b  10.0    4      5  15.0
c  11.0    6      7  18.0
d   NaN    8      9   NaN

In [18]:
# Deleting a column
del df1['Two']
print(df1)

    One  Three  Four
a   9.0      3  12.0
b  10.0      5  15.0
c  11.0      7  18.0
d   NaN      9   NaN

In [29]:
# Adding a new Row
df2=pd.Series([2,4,6,8],index=['One','Two','Three','Four'])
df1=df1.append(df2,ignore_index=True)
print(df1)

    One  Three  Four  Two
0   9.0      3  12.0  NaN
1  10.0      5  15.0  NaN
2  11.0      7  18.0  NaN
3   NaN      9   NaN  NaN
4   2.0      6   8.0  4.0

In [20]:
df1

    One  Three  Four
a   9.0      3  12.0
b  10.0      5  15.0
c  11.0      7  18.0
d   NaN      9   NaN